# Tested with Python 3.10.20
# Install PyTorch 2.1.1 with CUDA 11.8 separately as described in README.md.

clearml==2.1.9
dask==2026.6.0
decord==0.6.0
einops==0.8.2
future==1.0.0
fvcore==0.1.5.post20221221
hickle==5.0.3
lightning==2.2.1
lpips==0.1.4
matplotlib==3.10.9
netCDF4==1.7.4
numpy==1.26.4
opencv-python==4.13.0.92
packaging==24.2
pandas==2.3.3
psutil==7.2.2
PyWavelets==1.8.0
PyYAML==6.0.3
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
six==1.17.0
timm==0.6.11
torchmetrics==1.9.0
tqdm==4.68.3
xarray==2025.6.1
yacs==0.1.8
